<section class="col-xs-12 sidebar-detalleContenidoCurso">
    <div class="row">
        <div class="container">
            <div class="col-xs-6">
                <p class="text text--azul_osc text--lg text--xbold text-space1 margin--t0 margin--b0 text--upper">
                    {{dataSimpleCourse.course.category}}
                </p>
                <h1 class="text text--gris text--xxxlg text--xbold margin--t0 margin--b0">
                    {{dataSimpleCourse.course.name}}
                </h1>
            </div>
        </div>
    </div>
</section>

<!-- Tabs Simple Courses  / ver directiva -->

<tabs-custom-vertical></tabs-custom-vertical>

