<!DOCTYPE html>
<html class="no-js" ng-app="App" lang="es">
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Marketing University: Entrenate, Certifica tus conocimientos en Marketing Digital</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/css-circle/css/circle.css">

        <script src="js/jquery.min.js"></script>

        <script src="angular/angular/angular.min.js"></script>
        <script src="angular/angular-route/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.js"></script>
        <script src="ui-bootstrap/ui-bootstrap-custom-0.13.4.js"></script>
        <script src="ui-bootstrap/ui-bootstrap-custom-tpls-0.13.4.js"></script>

    </head>
    <body>
        
        <!-- Navbar -->

        <div ng-include="'views/navbar.html'"></div>

        <!-- contenedor Dinamico -->

        <div ng-view id="content-app"></div>

        <!-- footer -->

        <div ng-include="'views/footer.html'"></div>

        <!--  MODAL DE INGRESO  -->

        <div class="modal modal--ingreso fade" id="js-ingreso" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="images/logo2.png" alt="" class="img-responsive center-block">
                    </div>
                    <div class="modal-body">
                        <div role="tabpanel" ng-controller="login_api">
                            <ul class="nav nav-tabs nav-justified nav-ingreso" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#registro" aria-controls="registro" role="tab" data-toggle="tab">Regístrate</a>
                                </li>
                                <li role="presentation">
                                    <a href="#ingreso" aria-controls="ingreso" role="tab" data-toggle="tab">Iniciar Sesión</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="registro">
                                    
                                     
                                   <a href="#" class="btn btn-facebook btn-block" ng-click="FBLogin(true)">
                                       <span class="icon-facebook margin--r2"></span> 
                                       Regístrate con facebook
                                   </a>   
                                     <p class="text text-center text--gris">
                                        O
                                    </p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control--form" placeholder="Nombre de usuario" ng-model="userNameNew" required>
                                            <input type="email" class="form-control form-control--form" placeholder="Correo Electrónico" ng-model="userEmail" required>
                                            <input type="password" class="form-control form-control--form" placeholder="Contraseña" ng-model="userPasswordNew" required>
                                        </div>
                                        <div class="alert alert-danger text-center" ng-show="alertError"><span id="errorLogin"></span></div>
                                        <div class="col-xs-12 bg-gris margin--b1">
                                            <p class="text text--xs text--gris">
                                                Al hacer clic en “crear una cuenta”, aceptas las Condiciones y confirmas que leíste nuestra Política de datos, incluido el uso de cookies.
                                            </p>
                                        </div>
                                        <div class="col-xs-12 margin--b1">
                                            <div class="row">
                                                <input type="submit" class="btn btn-verde btn--lite btn-block text--upper" ng-click="createAccount()" value="Crear una cuenta">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ingreso">
                                    <a href="#" class="btn btn-facebook btn-block" ng-click="FBLogin(false)">
                                       <span class="icon-facebook margin--r2"></span> 
                                       Iniciar con facebook
                                   </a> 
                                    

                                    <p class="text text-center text--gris">
                                        O
                                    </p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control--form" placeholder="Nombre de usuario" ng-model="userName" required>
                                            <input type="password" class="form-control form-control--form" placeholder="Contraseña" ng-model="userPassword" required>
                                        </div>
                                        <div class="alert alert-danger text-center" ng-show="alertFields"><span>Todos los campos se deben diligenciar</span></div>
                                        <div class="alert alert-danger text-center" ng-show="alertData"><span>El nombre de usuario y/o la contraseña son incorrectos.</span></div>
                                        <input type="submit" class="btn btn-verde btn--lite btn-block text--upper" ng-click="singUp()" value="iniciar sesión">
                                        <!-- <a class="text text--azul text--sm text-center center-block margin--t1">Olvíde mi contraseña </a>  -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/loader.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script> 
        <!-- Configuration file -->
        <script src="js/config.json"></script>
        <!-- Exceptions -->
        <script src="js/exceptions.js"></script>
        <!-- Functions -->
        <script src="js/functions.js"></script>
        <!--- //// MVC ///// -->
        <!-- Ellipsis -->
        <script src="js/angular-ellipsis.js"></script>
        <script src="js/truncate.js"></script>

        <!-- App -->
        <script src="js/main.js"></script>
        <!-- Controllers -->
        <script src="controllers/ctrl.js"></script>
        <!-- Models -->
        <script src="models/models.js"></script>
        <!-- Directives -->
        <script src="js/directives.js"></script>
    </body>
</html>
