
<section class="col-xs-12 sidebar-yellowGrandient sidebar-yellowGrandient--xlg sidebar-add__montain">
    <div class="container text-center">
        <h1 class="text text--azul_osc text--xxxxlg text--xbold margin--b0 text-center text-space1 text--upper">
            cursos y capacitación
        </h1>
        <p class="text text--lg text--gris text-center text-space1 margin--t05">
            Adquiere habilidades y competencias técnicas en cuestión de semanas
        </p>
        <a href="" class="btn btn--academy2 btn-cursos btn--right btn-xlg margin--t1">
            ¿Cómo funcionan?
        </a>
    </div>
</section>

<section class="col-xs-12 sidebar-section2 sidebar-section2--cursos sidebar-blanco" ng-controller="coursesPublic">
    <div class="container">
        <div class="col-xs-12 margin--tn5">
            <div class="row">

                <!-- courses public -->
                    <div class="col-lg-3 col-xs-6 margin--t1" ng-repeat="coursePublic in dataCoursesPublic">
                        <div class="col-xs-12 sidebar-bloqs2">
                            <div class="row sidebar-imageCurso">
                                <a ng-href="">
                                    <img ng-src="{{coursePublic.imageCourse}}" class="img-responsive">
                                </a>
                                <div class="col-xs-12 sidebar-imageCurso__nombre">
                                    <img ng-src="{{coursePublic.imageTutor}}" alt="" class="img-circle sidebar-imageCurso__image">
                                    <span class="text text--blanco">
                                        {{coursePublic.tutor}}
                                    </span>
                                </div>
                                <div class="col-xs-12 sidebar-imageCurso__qualy">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </div>
                            </div>
                            <h3 class="text text--gris text--md text--bold margin--t2">
                                {{coursePublic.nameCourse}}
                            </h3>
                            <p class="text text--sm text--gris_cla margin--t1">
                                {{coursePublic.description}}
                            </p>
                            <p class="text text--azul_cla text--lite margin--t1">
                                <span class="icon-time"></span> {{coursePublic.timeDuration}}
                            </p>
                            <a  ng-href="#allCoursesPublic" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                                MÁS INFORMACIÓN
                            </a>
                        </div>
                    </div>
                <!-- end courses public ..... -->

            </div>
        </div>
    </div>
</section>

<section class="col-xs-12 text-center sidebar-table">
    <div class="row">
        <div class="col-xs-12 sidebar-table__cont">
            <h2 class="text text--azul_mid text--xlg text--xbold text-center text--upper">
                ¿Cómo quieres aprender hoy?
            </h2>
            <p class="text text--md text--gris text-center text--lite">
                Suscríbete hoy a la mejor experiencia en educación online e ingresa al mundo del Marketing Digital. 
            </p>
            <a href="" class="btn btn--academy2 btn-rojo btn--right btn-xlg margin--t1 text--upper">
                empieza ahora
            </a>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-blueGrandient sidebar-blueGrandient--cero1 sidebar-add__montainR">
    <div class="sidebar-parallax visible-lg">
        <img src="images/nubes-left.png" alt="" id="nubes_left1" class="sidebar-parallax__nubes1" />
        <img src="images/nubes-right.png" alt="" id="nubes_left2" class="sidebar-parallax__nubes2" />
    </div>
    <div class="container">
        <div class="col-xs-5">
            <img src="images/image1.png" alt="" class="img-responsive pull-left margin--t5">
        </div>
        <div class="col-xs-6">
            <h1 class="text text--xxlg text-left text--azul_mid text--upper">
                <span class="text--xbold">Clases 100% en español,</span><br>APRENDIZAJE PRÁCTICO REAL
            </h1>
            <p class="text text--md text--gris">
                Clases paso a paso, no necesitas experiencia.<br>Aprenderás cada detalle necesario para lograr tu objetivo
            </p>

            <div class="row">
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="images/bullet1.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Aprende a tu ritmo y necesidad
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="images/bullet2.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Certifica tus conocimientos
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="images/bullet3.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Profesores con 
                        más de 10 años de 
                        experiencia
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
    