<div >
<section class="col-xs-12 sidebar-greenGrandient sidebar-greenGrandient--xlg sidebar-add__montain">
    <div class="container text-center">
        <h1 class="text text--azul_mid text--xxxxlg text--xbold margin--b0 text-center text-space1 text--upper">
            Bolsa de empleo
        </h1>
        <p class="text text--lg text--gris text-center text-space1 margin--t05">
            Encuentra un empleo ideal para ti en la industria del Marketong
        </p>
    </div>
</section>

<section class="col-xs-10 col-xs-offset-1 sidebar-section sidebar-section--content sidebar-blanco margin--tn5">
    <div class="container">
        <div class="col-xs-12 text-center">

            <div class="col-xs-12 margin--t1 margin--b1">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="text" class="form-control input-gris" id="exampleInputEmail1" placeholder="Keywords">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="email" class="form-control input-gris" id="exampleInputEmail1" placeholder="All Locations">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="email" class="form-control input-gris" id="exampleInputEmail1" placeholder="All Industries">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <a href="" class="btn btn-azul btn-block">
                            <span class="text--upper">BUSCAR</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-8">
                <table class="table table-hover table--bolsa">
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--naranja">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--marina">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Part-Time</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--rojo">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $20 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Horas
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--verde">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--naranja">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--marina">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--rojo">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            <img src="images/enterprise.jpg" alt="" class="img-responsive pull-left img-rounde">
                        </td>
                        <td width="50%" class="text-left">
                            <h3 class="text text--xbold text--gris margin--t0 margin--b0">UX / UI Front-End Developer</h3>
                            <p class="text text--sm text--gris">
                                <span class="text--azul icon-location"></span> Boston <span class="text--verde icon-time"></span> Full Time
                            </p>
                        </td>
                        <td width="35%">
                            <div class="row">
                                <div class="panel panel-default panel-horizontal panel-horizontal--verde">
                                    <div class="panel-heading">
                                         <h3 class="panel-title text--xbold">Freelance</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h2 class="text text--xbold text--blanco margin--t0 margin--b0">
                                            $1000 +
                                        </h2>
                                        <p class="text text--xs text--blanco margin--b0">
                                            / Project
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clearfix"></div>

                <nav class="margin--t1">
                  <ul class="pagination">
                    <li>
                      <a href="" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li>
                      <a href="" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
            <div class="col-xs-4 text-left">
                <div class="col-xs-12 vertical-middle">
                    <h3 class="text text--md text--xbold margin--b05">
                        FEATURED JOBS
                    </h3>
                    <img src="images/image-example-job.jpg" alt="" class="img-responsive.center-block">

                    <div class="clearfix"></div>

                    <p class="text text--azul text--xbold text--md margin--t05 margin--b0">
                        UX / UI Front-End Developer
                    </p>
                    <p class="text text--gris text--sm margin--t0">
                        Freelancer
                    </p>

                    <p class="text text--gris text--lite text--xs">
                        Ingeniero de Sistemas con énfasis en administración e informática, Director General de Existaya.com Agencia Digital, Google Advertising Professional (GAP).  Google Analytics Individual Qualification (IQ). Docente en Marketing Online y Programación Web en la Universidad ICESI. Conferencista y Consultor con más de 8 años de experiencia en Marketing Online, Miembro de IAB Colombia (Internet Advertising Bureau).
                    </p>

                    <a ng-href="#detailsJobs" ng-click="seeDeatailsJobs()" class="btn btn-rojo margin--t1">
                        Ver Oferta
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
