<div>
<section class="col-xs-12 sidebar-yellowGrandient sidebar-yellowGrandient--cursos sidebar-add__montain">
    <div class="container sidebar-section">
        <div class="col-xs-7">
            <span class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                CURSO POR DEMANDA
            </span></br>
            <h1 class="text text--azul_mid text--xxxxlg text--xbold margin--b0 text-space1 text--upper">
               {{dataDetails.name}}
            </h1>
            <p class="text text--md text--gris text-space1 margin--t1">
                {{dataDetails.description}}
            </p>
            <a href="#" class="btn btn--academy2 btn-rojo btn-xlg text--upper margin--t1 margin--b1" data-toggle="modal" data-target="#js-ingreso">
                 Inscríbete
            </a>
        </div>
        <div class="col-xs-5">
            <img ng-src="{{dataDetails.image}}" alt="" class="img-responsive">
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-section3 sidebar-blanco">
    <div class="container">
        <div class="col-xs-8">
            <h2 class="text text--azul_mid text--xxxlg text--xbold margin--b05 text-space1">
                Acerca del Curso
            </h2>
            <p class="text text--gris"> {{dataDetails.about}} </p>
            <h3 class="text text--lg text--xbold margin--b1 text-space1 margin--t1">
                Competencias a desarrollar:
            </h3>
            <p class="text text--gris text--xbold">
                Al finalizar este curso usted estará en capacidad de:
            </p>
            <ol class="list-normal text text--gris margin--t1">
                <li ng-repeat="competence in dataDetails.competencies">
                    {{competence.description}}
                </li>
            </ol>
            <h2 class="text text--azul_mid text--xxxlg text--xbold margin--b05 margin--t1 text-space1">
                Temario
            </h2>
            <p class="text text--gris text--xbold" >
                Este curso se divide en {{dataDetails.modules.length}}
                <span ng-if="dataDetails.modules.length > 1">módulos semanales así</span>
                <span ng-if="dataDetails.modules.length == 1">módulo</span>:
            </p>
            <ul class="list-items margin--t1 text text--gris">
                <li ng-repeat="module in dataDetails.modules">
                    <span class="text--bold">{{module.name}}:</span> {{module.description}}
                </li>
            </ul>
            <h3 class="text text--lg text--xbold margin--b1 text-space1 margin--t1">
                Preguntas que podrá resolver después de completar el curso:
            </h3>
            <p>
                {{dataDetails.goals}}
            </p>

            <hr class="sep sep--gris sep--lg">

            <h3 class="text text--md text--xbold margin--b1 text-space1 margin--t1">
                Profesores:
            </h3>

            <div class="row" ng-repeat="tutorData in dataDetails.tutors">
                <div class="col-xs-2 vertical-middle">
                    <img ng-src="{{tutorData.avatar}}" alt="" class="img-circle sidebar-imageCurso__image img-responsive">
                </div>
                <div class="col-xs-10 vertical-middle">
                    <p class="text text--azul text--xbold text--md margin--t05 margin--b0">
                        {{tutorData.first_name}} {{tutorData.last_name}}
                    </p>
                    <p class="text text--gris text--sm margin--t0"> {{tutorData.jobtitle}}</p>
                </div>
                <div class="col-xs-12">
                    <p class="text text--gris text--lite"> {{tutorData.about}} </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 sidebar-leftBlock">
            <h3 class="text text--azul_osc text--lg text--xbold text-space1">
                Sesiones
            </h3>
            <div class="form-group">
                <select class="form-control" ng-model="initial_dates" ng-options="item for item in dataSessionDates"></select>
            </div>

            <div class="clearfix"></div><hr class="sep sep--gris sep--xs">

            <div class="col-xs-6">
                <p class="text text--gris text--lite text--xs">
                    Duración:
                </p>
            </div>
            <div class="col-xs-6">
                <p class="text text--gris text--lite text--xs">
                    4 Semanas
                </p>
            </div>
            
            <div class="clearfix"></div><hr class="sep sep--gris sep--xs">

            <div class="col-xs-6">
                <p class="text text--gris text--lite text--xs">
                    Horas semanales:
                </p>
            </div>
            <div class="col-xs-6">
                <p class="text text--gris text--lite text--xs">
                    6 -8 Horas
                </p>
            </div>

            <div class="clearfix"></div><hr class="sep sep--gris sep--xs">

            <h3 class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                ¿Quienes deben tomar este curso?
            </h3>
            <p class="text text--gris text--lite">
                Empresarios, profesionales en comuncación y mercadeo (Asistentes, Gerentes, Asociados en areas de Mercadeo y Comunicación) que estén interesados en implementar estrategias de mercadeo y comunicación en medios digitales.
            </p>

            <h3 class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                Requisitos previos
            </h3>
            <p class="text text--gris text--lite">
                Ninguno
            </p>

            <a href="#" class="btn btn-verde btn-xlg margin--t1" data-toggle="modal" data-target="#js-ingreso">
                 Inscríbete
            </a>

            <h3 class="text text--azul_osc text--lg text--xbold text-space1 margin--t1">
                Lo que dice la gente
            </h3>
        </div>
        <div class="clearfix"></div><hr class="sep sep--gris sep--lg">
        <div class="col-xs-12">
            <h2 class="text text--gris text--lg text--xbold margin--b1 text-space1 margin--t1">
                Otros cursos de interes
            </h2>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <img src="images/Marketing-Digital-101.png" alt="" class="img-responsive center-block">
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Andrés Escobar
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Marketing Digital 101
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                            Aprende e Interioriza los 10 principales conceptos básicos del Marketing y la Comunicación Digital.
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                            <span class="icon-time"></span> 10 Horas
                        </p>
                        <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <img src="images/Estrategia-Marketing-Digital.png" alt="" class="img-responsive center-block">
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Andrés Escobar
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Estrategia Digital
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                            Aprende a planear una estrategia de Marketing Digital partiendo de los objetivos estratégicos de tu negocio.
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                            <span class="icon-time"></span> 20 Horas
                        </p>
                        <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <img src="images/Facebook-Marketing.png" alt="" class="img-responsive center-block">
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Andrés Escobar
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star-o"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Facebook Marketing 
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                            Aprende a usar Facebook como herramienta para incrementar las ventas y retener tus clientes.
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                            <span class="icon-time"></span> 40 Horas
                        </p>
                        <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 margin--t1">
                    <div class="col-xs-12 sidebar-bloqs2">
                        <div class="row sidebar-imageCurso">
                            <img src="images/googleAdw.jpg" alt="" class="img-responsive center-block">
                            <div class="col-xs-12 sidebar-imageCurso__nombre">
                                <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                <span class="text text--blanco">
                                    Andrés Escobar
                                </span>
                            </div>
                            <div class="col-xs-12 sidebar-imageCurso__qualy">
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star-o"></span>
                                <span class="icon-star-o"></span>
                                <span class="icon-star-o"></span>
                            </div>
                        </div>
                        <h3 class="text text--gris text--md text--bold margin--t2">
                            Google Adwords
                        </h3>
                        <p class="text text--sm text--gris_cla margin--t1">
                            Aprende a crear campañas de manera profesional en 8 pasos en la plataforma de Google Adwords
                        </p>
                        <p class="text text--azul_cla text--lite margin--t1">
                            <span class="icon-time"></span> 40 Horas
                        </p>
                        <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                            MÁS INFORMACIÓN
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center margin--t3">
                <a href="cursos.html" class="btn btn--academy2 btn-verde btn-xlg text--upper">
                    Ver todos los cursos
                </a>
            </div>
        </div>
    </div>
</section>

<section class="col-xs-12 sidebar-blueGrandient sidebar-blueGrandient--cero1 sidebar-add__montainR">
    <div class="sidebar-parallax visible-lg">
        <img src="images/nubes-left.png" alt="" id="nubes_left1" class="sidebar-parallax__nubes1" />
        <img src="images/nubes-right.png" alt="" id="nubes_left2" class="sidebar-parallax__nubes2" />
    </div>
    <div class="container">
        <div class="col-xs-5">
            <img src="images/image1.png" alt="" class="img-responsive pull-left margin--t5">
        </div>
        <div class="col-xs-6">
            <h1 class="text text--xxlg text-left text--azul_mid text--upper">
                <span class="text--xbold">Clases 100% en español,</span><br>APRENDIZAJE PRÁCTICO REAL
            </h1>
            <p class="text text--md text--gris">
                Clases paso a paso, no necesitas experiencia.<br>Aprenderás cada detalle necesario para lograr tu objetivo
            </p>

            <div class="row">
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="images/bullet1.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Aprende a tu ritmo y necesidad
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="images/bullet2.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Certifica tus conocimientos
                    </p>
                </div>
                <div class="col-xs-4 margin--t2 margin--b4">
                    <img src="images/bullet3.png" alt="" class="img-responsive center-block">
                    <p class="text text--xbold text--md text-center text--gris text--upper">
                        Profesores con 
                        más de 10 años de 
                        experiencia
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>