<section class="col-xs-12" ng-controller="profile_api">
    <div class="row">
        <div class="container">

            <div class="col-xs-3 sidebar-perfil sidebar-add__montainR margin--b5">
                <div class="row">
                    <div class="col-xs-12 sidebar-perfil__top text-center">
                        <img ng-src="{{dataUser.photo}}" alt="" class="img-responsive center-block img-circle">
                        <div>
                            <p class="text text--gris text--xbold text--md margin--t1" ng-if="dataUser.name != ''">{{dataUser.name}} {{dataUser.lastname}}</p>
                            <p class="text text--gris text--xbold text--md margin--t1" ng-if="dataUser.name == ''">{{dataUser.username}}</p>
                        </div>
                        <p class="text text--gris text--lite text--sm margin--b2">{{dataUser["job-title"]}}</p>
                        <div class="alert alert--progress alert--bigger" role="alert">
                            
                            <p class="text text--gris text--lite text-left">
                                Nivel Marketing Ninja
                                <span class="pull-right text--xbold">
                                    0
                                </span>
                            </p>

                            <div class="clearfix"></div>

                            <div class="progress progress--green margin--t1">
                                <div class="progress-bar progress-bar--green" role="progressbar" aria-valuenow="{{info.pts}}" aria-valuemin="0" aria-valuemax="100" style="width: {{info.pts}}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h2 class="text text--lg text--lite">
                            Detalles
                        </h2>
                        <table class="table table-hover table--detallePerfil">
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Cursos Completados
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-verde text--md">
                                        0
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Cursos en progresos
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-naranja text--md">
                                        0
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Certificaciones obtenidas
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-rojo text--md">
                                        0
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Aplicaciones Empleos
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-azul text--md">
                                        0
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <h1 class="text text--lite text--lg margin--t2 text--gris">
                    Mis Cursos
                </h1>

                <div class="clearfix"></div>

                <!-- Tab Angular boostrap -->
                <tabset class="nav-tabs">
                    <tab heading="Iniciados">
                        <div class="container-soon">
                            <div class="coming_soon">
                                <p>Próximamente en Febrero 2016</p>
                            </div>
                        </div>
                        <img src="images/tap1.jpg" class="img-responsive" alt="">
                    </tab>
                    <tab heading="Recomendados">
                        <div class="container-soon">
                            <div class="coming_soon">
                                <p>Próximamente en Febrero 2016</p>
                            </div>
                        </div>
                        <img src="images/tap2.jpg" class="img-responsive" alt="">
                    </tab>
                    <tab heading="Próximamente">
                        <div class="well">
                            <div class="coming_soon">
                                <p>Próximamente en Febrero 2016</p>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</section>
