<section class="col-xs-12" ng-controller="profile_api">
    <div class="row">
        <div class="container">

            <div class="col-xs-3 sidebar-perfil sidebar-add__montainR margin--b5">
                <div class="row">
                    <div class="col-xs-12 sidebar-perfil__top text-center">
                        <img ng-src="{{dataUser.photo}}" alt="" class="img-responsive center-block img-circle">
                        <div>
                            <p class="text text--gris text--xbold text--md margin--t1" ng-if="dataUser.name != ''">{{dataUser.name}} {{dataUser.lastname}}</p>
                            <p class="text text--gris text--xbold text--md margin--t1" ng-if="dataUser.name == ''">{{dataUser.username}}</p>
                        </div>
                        <p class="text text--gris text--lite text--sm margin--b2">{{dataUser["job-title"]}}</p>
                        <div class="alert alert--progress alert--bigger" role="alert">
                            
                            <p class="text text--gris text--lite text-left">
                                Nivel Marketing Ninja
                                <span class="pull-right text--xbold">
                                    0
                                </span>
                            </p>

                            <div class="clearfix"></div>

                            <div class="progress progress--green margin--t1">
                                <div class="progress-bar progress-bar--green" role="progressbar" aria-valuenow="{{info.pts}}" aria-valuemin="0" aria-valuemax="100" style="width: {{info.pts}}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h2 class="text text--lg text--lite">
                            Detalles
                        </h2>
                        <table class="table table-hover table--detallePerfil">
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Cursos Completados
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-verde text--md">
                                        0
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Cursos en progresos
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-naranja text--md">
                                        2
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Certificaciones obtenidas
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-rojo text--md">
                                        6
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="icon-tag text--gris text--md"></span>
                                </td>
                                <td>
                                    <p class="text text--xbold text--gris_osc margin--t0">
                                        Aplicaciones Empleos
                                    </p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-azul text--md">
                                        8
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <h1 class="text text--lite text--lg margin--t2 text--gris">
                    Mis Cursos
                </h1>

                <div class="clearfix"></div>

                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-perfil" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Iniciados</a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Recomendados</a>
                        </li>
                        <li role="presentation">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Próximamente</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="panel panel-default margin--t2">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2 class="text text--xlg text--gris_osc text--xbold">
                                                Estrategía en Marketing Digital
                                            </h2>
                                        </div>
                                        <div class="col-xs-4">
                                            <img src="images/Estrategia-Marketing-Digital.png" alt="" class="img-responsive pull-left">
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="text text--lite text--gris">
                                                Aprende a diseñar y estructurar una estrategia de Marketing Digital partiendo de los objetivos estratégicos de tu negocio.
                                            </p>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <p class="text text--xbold text--gris_osc text--md">
                                                        Duración del curso: <br>4 Semanas
                                                    </p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p class="text text--azul_osc text--md text-right">
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <hr>
                                            <a href="detalle-contenido-curso.html" class="btn btn-verde btn-lg btn-regular">
                                                comenzar clase
                                            </a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <div class="c100 center p50 center-block">
                                                <span>50%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <p class="text text--lite text--gris margin--b0 margin--t2">
                                                Horas de estudio:<br>
                                                <span class="text--xbold">
                                                    40 Horas
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default margin--t2">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2 class="text text--xlg text--gris_osc text--xbold">
                                                Facebook Marketing
                                            </h2>
                                        </div>
                                        <div class="col-xs-4">
                                            <img src="images/Facebook-Marketing-Clear.png" alt="" class="img-responsive pull-left">
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="text text--lite text--gris">
                                                Aprende a usar Facebook como herramienta para incrementar el alcance de tu estrategia digital impactando las ventas y retención de tus clientes. 

                                            </p>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <p class="text text--xbold text--gris_osc text--md">
                                                        Duración del curso:<br>4 Semanas
                                                    </p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p class="text text--azul_osc text--md text-right">
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                        <span class="icon-star"></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <hr>
                                            <a href="detalle-contenido-curso.html" class="btn btn-verde btn-lg btn-regular">
                                                comenzar clase
                                            </a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <div class="c100 center p30 center-block">
                                                <span>30%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <p class="text text--lite text--gris margin--b0 margin--t2">
                                                Horas de estudio:<br>
                                                <span class="text--xbold">
                                                    40 Horas
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <h1 class="text text--xxlg text--azul_mid text--upper text--xbold margin--t1">
                                encuentra el curso ideal para ti
                            </h1>
                            <hr>

                            <div class="col-lg-4 col-xs-6 margin--t1">
                                <div class="col-xs-12 sidebar-bloqs2">
                                    <div class="row sidebar-imageCurso">
                                        <img src="images/Marketing-Digital-101.png" alt="" class="img-responsive center-block">
                                        <div class="col-xs-12 sidebar-imageCurso__nombre">
                                            <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                            <span class="text text--blanco">
                                                Andrés Escobar
                                            </span>
                                        </div>
                                        <div class="col-xs-12 sidebar-imageCurso__qualy">
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                        </div>
                                    </div>
                                    <h3 class="text text--gris text--md text--bold margin--t2">
                                        Marketing Digital 101
                                    </h3>
                                    <p class="text text--sm text--gris_cla margin--t1">
                                        Aprende e Interioriza los 10 principales conceptos básicos del Marketing y la Comunicación Digital.
                                    </p>
                                    <p class="text text--azul_cla text--lite margin--t1">
                                        <span class="icon-time"></span> 10 Horas
                                    </p>
                                    <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                                        MÁS INFORMACIÓN
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-6 margin--t1">
                                <div class="col-xs-12 sidebar-bloqs2">
                                    <div class="row sidebar-imageCurso">
                                        <img src="images/Estrategia-Marketing-Digital.png" alt="" class="img-responsive center-block">
                                        <div class="col-xs-12 sidebar-imageCurso__nombre">
                                            <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                            <span class="text text--blanco">
                                                Andrés Escobar
                                            </span>
                                        </div>
                                        <div class="col-xs-12 sidebar-imageCurso__qualy">
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                        </div>
                                    </div>
                                    <h3 class="text text--gris text--md text--bold margin--t2">
                                        Estrategia Digital
                                    </h3>
                                    <p class="text text--sm text--gris_cla margin--t1">
                                        Aprende a planear una estrategia de Marketing Digital partiendo de los objetivos estratégicos de tu negocio.
                                    </p>
                                    <p class="text text--azul_cla text--lite margin--t1">
                                        <span class="icon-time"></span> 20 Horas
                                    </p>
                                    <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                                        MÁS INFORMACIÓN
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xs-6 margin--t1">
                                <div class="col-xs-12 sidebar-bloqs2">
                                    <div class="row sidebar-imageCurso">
                                        <img src="images/Facebook-Marketing.png" alt="" class="img-responsive center-block">
                                        <div class="col-xs-12 sidebar-imageCurso__nombre">
                                            <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                            <span class="text text--blanco">
                                                Andrés Escobar
                                            </span>
                                        </div>
                                        <div class="col-xs-12 sidebar-imageCurso__qualy">
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star-o"></span>
                                        </div>
                                    </div>
                                    <h3 class="text text--gris text--md text--bold margin--t2">
                                        Facebook Marketing 
                                    </h3>
                                    <p class="text text--sm text--gris_cla margin--t1">
                                        Aprende a usar Facebook como herramienta para incrementar las ventas y retener tus clientes.
                                    </p>
                                    <p class="text text--azul_cla text--lite margin--t1">
                                        <span class="icon-time"></span> 40 Horas
                                    </p>
                                    <a href="detalle-curso.html" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                                        MÁS INFORMACIÓN
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-xs-6 margin--t1">
                                <div class="col-xs-12 sidebar-bloqs2">
                                    <div class="row sidebar-imageCurso">
                                        <img src="images/example1.jpg" alt="" class="img-responsive center-block">
                                        <div class="col-xs-12 sidebar-imageCurso__nombre">
                                            <img src="images/avatar.jpg" alt="" class="img-circle sidebar-imageCurso__image">
                                            <span class="text text--blanco">
                                                Andrés Escobar
                                            </span>
                                        </div>
                                        <div class="col-xs-12 sidebar-imageCurso__qualy">
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star-o"></span>
                                        </div>
                                    </div>
                                    <h3 class="text text--gris text--md text--bold margin--t2">
                                        Marketing Digital 101
                                    </h3>
                                    <p class="text text--sm text--gris_cla margin--t1">
                                        Aprende e interioriza los 10 principales conceptos y estrateguas básicas del Marketing Digital.
                                    </p>
                                    <p class="text text--azul_cla text--lite margin--t1">
                                        <span class="icon-time"></span> 45 minutos
                                    </p>
                                    <a href="#" class="btn btn-gosh btn-gosh--gris btn-lg margin--t05">
                                        MÁS INFORMACIÓN
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>