<div class="panel panel-default margin--t2">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text text--xlg text--gris_osc text--xbold">
                    Estrategía en Marketing Digital
                </h2>
            </div>
            <div class="col-xs-4">
                <img src="images/Estrategia-Marketing-Digital.png" alt="" class="img-responsive pull-left">
            </div>
            <div class="col-xs-6">
                <p class="text text--lite text--gris">
                    Aprende a diseñar y estructurar una estrategia de Marketing Digital partiendo de los objetivos estratégicos de tu negocio.
                </p>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="text text--xbold text--gris_osc text--md">
                            Duración del curso: <br>4 Semanas
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p class="text text--azul_osc text--md text-right">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
                <hr>
                <a href="detalle-contenido-curso.html" class="btn btn-verde btn-lg btn-regular">
                    comenzar clase
                </a>
            </div>
            <div class="col-xs-2 text-center">
                <div class="c100 center p50 center-block">
                    <span>50%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <p class="text text--lite text--gris margin--b0 margin--t2">
                    Horas de estudio:<br>
                    <span class="text--xbold">
                        40 Horas
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default margin--t2">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text text--xlg text--gris_osc text--xbold">
                    Facebook Marketing
                </h2>
            </div>
            <div class="col-xs-4">
                <img src="images/Facebook-Marketing-Clear.png" alt="" class="img-responsive pull-left">
            </div>
            <div class="col-xs-6">
                <p class="text text--lite text--gris">
                    Aprende a usar Facebook como herramienta para incrementar el alcance de tu estrategia digital impactando las ventas y retención de tus clientes. 

                </p>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="text text--xbold text--gris_osc text--md">
                            Duración del curso:<br>4 Semanas
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <p class="text text--azul_osc text--md text-right">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
                <hr>
                <a href="detalle-contenido-curso.html" class="btn btn-verde btn-lg btn-regular">
                    comenzar clase
                </a>
            </div>
            <div class="col-xs-2 text-center">
                <div class="c100 center p30 center-block">
                    <span>30%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <p class="text text--lite text--gris margin--b0 margin--t2">
                    Horas de estudio:<br>
                    <span class="text--xbold">
                        40 Horas
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>