<!-- CONTENIDO SALON DE CLASES -->
<div id="salon">
    <div class="col-xs-12">
        <div class="row">

            <div id="tabModule" description-tab description-active="true" description="{{dataSimpleCourse.course.name | lowercase}}">
                    
                <!-- carousell -->   
                
                <carousel interval="intervalTime" class="carousel--tabsDetalle">
                    <slide ng-repeat="slide in simpleItems" active="slide.active">
                        <tabset justified="true" id="tabModule-Menu">
                            <tab ng-repeat="item in slide" heading="{{item.module_name}}" active="$first">

                                <!-- Controlador progreso lección -->
                                <div class="col-xs-12 list-simple">

                                    <!-- Tabs Simple Content  / ver directiva -->

                                    <tabs-custom-horizontal></tabs-custom-horizontal>

                                </div>
                            </tab>
                        </tabset>
                    </slide>
                </carousel> 
            </div>
                                    
        </div>
    </div>
</div>