<!-- CONTENIDO TABS EVALUACIONES -->

        <div  id="evaluaciones">

            <h1 class="text text--lite text--xlg margin--t1 text--gris_osc text--xbold">
                Evaluaciones del curso
            </h1>

            <table class="table table--recursos margin--t2">
                <tr>
                    <th>
                        Evaluación
                    </th>
                    <th>
                        Oportunidades
                    </th>
                    <th class="text-center">
                        Resultado
                    </th>
                    <th class="text-center">
                        Acción
                    </th>
                </tr>
                <tr>
                    <td>
                        Evaluación 1: Introducción al Marketing Digital
                    </td>
                    <td class="text-center">
                        <strong>1/3</strong>
                    </td>
                    <td  class="text-center">
                        <strong>78% (Bien)</strong>
                    </td>
                    <td>
                        <a class="btn btn-gosh btn-xsm btn-gosh--verde pull-right text--upper typeform-share" href="https://andresescobar.typeform.com/to/emTKCV" data-mode="1" target="_blank">
                            Hacer Evaluación
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Evaluación 2: Consumidor Digital y ZMOT
                    </td>
                    <td class="text-center">
                        <strong>2/3</strong>
                    </td>
                    <td class="text-center">
                        <strong>58% (Regular)</strong>
                    </td>
                    <td>
                        <a class="btn btn-gosh btn-xsm btn-gosh--verde pull-right text--upper typeform-share" href="https://andresescobar.typeform.com/to/emTKCV" data-mode="1" target="_blank">
                            Hacer Evaluación
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Evaluación 3: KPIs del Marketing Digital
                    </td>
                    <td class="text-center">
                        <strong>3/3</strong>
                    </td>
                    <td class="text-center">
                        <strong>Pendiente</strong>
                    </td>
                    <td>
                        <a class="btn btn-gosh btn-xsm btn-gosh--verde pull-right text--upper typeform-share" href="https://andresescobar.typeform.com/to/emTKCV" data-mode="1" target="_blank">
                            Hacer Evaluación
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Evaluación 4: Estrategia Digital en Negocios B2B
                    </td>
                    <td class="text-center">
                        <strong>3/3</strong>
                    </td>
                    <td class="text-center">
                        <strong>Pendiente</strong>
                    </td>
                    <td>

                    </td>
                </tr>

            </table>
        </div>